.container__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 430px;
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;

  text-align: center;
}

.container__card:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0px 10px 60px rgba(6, 7, 17, 0.198);
}

.container__card .icon__one,.icon__two,.icon__three {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -40px;
  padding: 20px;
  border-radius: 50px;
  color: white;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
}

.icon__one {
    background: #5B72EE;
}

.icon__two {
    background: #00CBB8;

}

.icon__three {
    background: #29B9E7;

}













.container__card-info h3 {
  width: 343px;
  height: 90px;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #2f327d;
}

.container__card-info p {
  width: 341px;
  height: 144px;
  margin-top: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  
  color: #696984;
}
