.input__search {
  padding: 40px;
  width: 1319px;
  height: 73px;
  font-size: 20px;
  color: rgba(24, 24, 28, 0.6);
  border-radius: 10px ;
  border: transparent;
}

.input__search::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: rgba(131, 131, 154, 0.6);
}

.input__search:focus {
    outline: none;
}

.btn__search {
  width: 183.16px;
  height: 80px;
  background: #49bbbd;
  color: white;
  border-radius: 10px;
  margin-left: 20px;
}
